<div class="sales-boxes">
    <div class="recent-sales1 box">
        <div class="title">Profil</div>
        <p>Tableau de bord / Profil</p><br>
        <div class="sales-details1">
            <div class="profil" style="background-image: url"></div>
            <div class="infos">
                <h3>N'GUESSAN DONATIEN</h3>
                <p>PDG DL SION COMPAGNIE</p>
                <p>Abidjan, Côte D'Ivoire</p>
                <p>Tel : 0748886531</p>
            </div>
            <div class="message">
                <button>Message</button>
                <button>Modifier</button>
            </div>
        </div>
    </div> 
</div>
