<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demande de réinitialisation de mot de passe</title>
    <link rel="stylesheet" href="/static/css/style1.css">
    <!-- Inclure les liens vers les fichiers CSS si nécessaire -->
</head>
<body>
    <h2>Demande de réinitialisation de mot de passe</h2>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form method="POST" action="{{ url_for('reset_password_request') }}">
        <label for="Email">Adresse e-mail :</label>
        <input type="email" id="Email" name="Email" required>
        <button type="submit">Envoyer la demande</button>
    </form>
    <!-- Inclure les liens vers les fichiers JavaScript si nécessaire -->
</body>
</html>
