@app.route('/rapport/')
def rapport():
    # Effectuez les requêtes SQL pour récupérer les données nécessaires
    # Exécuter les deux requêtes ensemble
    cursor = conn.cursor()

    # Exécuter les deux requêtes ensemble
    cursor.execute('''
        SELECT DATE_FORMAT(Date, '%Y-%m') AS year, COUNT(id) AS count 
        FROM vente GROUP by year
        order by year
    ''')

    # Récupérer les résultats de la première requête
    total_ventes = cursor.fetchone()[0]

    # Récupérer les résultats de la deuxième requête
    ventes_par_mois = cursor.fetchall()
    year = []  # Liste pour stocker les années
    data = []  # Liste pour stocker les valeurs

    for item in ventes_par_mois:
        year.append(item[0])  # Ajouter l'année du tuple à la liste des années
        data.append(item[1])
   
    fig = px.line(
        ventes_par_mois,
          x=year,
            y=data,
            template='plotly_dark'
                  )
    chart = fig.to_html()
    
    cursor.close()

    # Passez les données récupérées au template HTML pour affichage
    return render_template('rapport.html', total_ventes=total_ventes, ventes_par_mois=ventes_par_mois, chart = chart)

    
[07/05 à 15:21] +225 0759934211: <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualisation des ventes</title>

</head>

<body>

    {{ chart|safe}}
</body>
</html>


